$pink: #f30134;
$grey-blue: #738090;
$grey: #959595;

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 0px 30px;
    font-size: 12px;
    align-items: center;
    & .sram-icon {
        width: 100px;
    }
    & nav {
        & a {
            cursor: pointer;
            &:not(:last-child):after {
                content: "|";
                margin: 0px 10px;
            }
        }
        & img.user-icon {
            width: 20px;
            margin-bottom: -5px;
        }
    }
    & .latest-news {
        font-weight: bold;
        & .italic {
            font-weight: normal;
            font-style: italic;
        }
    }
}

.companies {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
    background-color: $pink;
    width: 100%;
    position: relative;
    & .logo {
        height: 60px;
        border-right: 1px solid #e60a30;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        & .logo-icon {
            width: 130px;
            filter: brightness(0) invert(1);
            position: relative;
            display: flex;
            flex-direction: column;
        }
        & .logo-suff {
            font-size: 18px;
            margin-left: 10px;
            color: white;
            font-style: italic;
        }
    }
    & .active {
        background-color: $grey;
    }
    & .search-icon {
        position: absolute;
        width: 20px;
        right: 30px;
        top: calc(100% - 40px);
    }
}

.additional-info {
    min-height: 295px;
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    & .menu-buttons {
        margin-left: 33px;
        font-size: 14px;
        padding: 0;
        list-style: none;
        width: 18.5%;
        height: 100%;
        & .menu-button {
            margin: auto;
            width: 90%;
            height: 40px;
            line-height: 40px;
            color: $grey-blue;
            border: 1px solid $grey-blue;
            margin-top: 2px;
            text-align: center;
            background-color: white;
            &:first-child {
                background-color: $grey-blue;
                color: white;
            }
        }
    }
    & .data {
        width: 17.5%;
        margin-left: 10px;
        & .company-icon {
            height: 24px;
            margin-bottom: 10px;
            display: block;
        }
        & .rate {
            color: $pink;
            border: 1px solid $pink;
            font-size: 14px;
            padding: 2px;
        }
    }
    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: $grey-blue;
        & li {
            margin-top: 25px;
        }
    }
    & .params {
        width: 61%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 13px;
        margin: 0;
        padding: 0;
        & .param {
            width: 260px;
            margin-right: 20px;
            & .param-title {
                color: black;
                margin: 0;
                height: 30px;
            }
            & .icons {
                margin-top: 5px;
                & .icon {
                    background-color: rgb(170, 251, 135);
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 10px;
                    margin-right: 2px;
                }
                & .icon-1 {
                    background-color: white;
                    border: 1px solid $grey-blue;
                    color: $grey-blue;
                }
                & .icon-2 {
                    background-color: #27900e;
                    color: rgb(255, 255, 255);
                    & .check {
                        width: 8px;
                    }
                }
                & .icon-3 {
                    color: white;
                    background-color: $pink;
                }
            }
            & .param-descr {
                margin: 0;
                margin-top: 5px;
                color: $grey;
            }
        }
    }
}

.preview {
    background-color: royalblue;
    height: 600px;
    width: 100%;
    background-image: url('./src/img/slide2.jpg');
    background-size: cover;
    position: relative;
    & .water-sign {
        position: absolute;
        background-color: $pink;
        width: 350px;
        height: 160px;
        top: calc(100% - 320px);
        opacity: 0.7;
        & img {
            width: 200px;
            filter: brightness(0) invert(1);
            margin-top: 16.5%;
            margin-left: 20px;
        }
    }
}